<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="headerSection" class="header-section">
    <div class="header-content">
        <div th:replace="~{fragments/logo :: logo}"></div>
        <h1>Ласкаво просимо до Sportify!</h1>
        <p>Підніміть свої спортивні досягнення з нашими товарами.</p>
        <a th:href="@{/login}" class="header-btn">Почати зараз</a>
    </div>
    <div class="header-image">
        <img th:src="@{/images/Sport-center.jpg}" alt="Спортивний центр"/>
    </div>
</div>
</body>
</html>