<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/Navbar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/}" class="navbar-logo">Sportify</a>
    <ul class="navbar-menu">
        <!-- Посилання на адмін-панель, видиме лише для адміністраторів -->
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/adminPanel}">Адмін-панель</a>
        </li>
        <li><a th:href="@{/products}">Товари</a></li>
        <li><a th:href="@{/about}">Про нас</a></li>
        <li><a th:href="@{/cart}" class="navbar-cart"><i class="fas fa-shopping-cart"></i></a></li>
        <li>
            <!-- Умова для відображення кнопки Вхід -->
            <div th:if="${#authentication != null and #authentication.authenticated}">
                <form th:action="@{/logout}" method="post" class="navbar-form">
                    <button type="submit" class="navbar-btn">Вийти</button>
                </form>
            </div>
            <div th:unless="${#authentication != null and #authentication.authenticated}">
                <a th:href="@{/login}" class="navbar-btn">Увійти</a>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>