.features-section {
    text-align: center;
    padding: 20px 40px;
}

.features-section h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.feature {
    width: 29%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    color: #555;
}
